.pagination__block {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.filter__block {
  width: 92%;
  background-color:#efeeff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  padding: 15px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
